/* line 3, ../sass/style.scss */
body {
  width: 90%;
}
/* line 5, ../sass/style.scss */
body p {
  font-size: 15px;
  color: red;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -ms-border-radius: 3px;
  -o-border-radius: 3px;
  border-radius: 3px;
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=50);
  opacity: 0.5;
  -webkit-box-shadow: 0 0 1px #cccccc;
  -moz-box-shadow: 0 0 1px #cccccc;
  box-shadow: 0 0 1px #cccccc;
}
